$color: #e25822;

.links {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;

  :nth-child(2n) {
    margin-left: 20px;
  }
}

a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  text-decoration: none;

  border-radius: 5px;
  color: #545e6f;

  font-weight: 500;
  font-size: 16px;

  transition: 0.3s;
}

.selected {
  background-color: $color;
  color: black;
  box-shadow: none;
}

.unselected {
  background-color: none;
  color: black;
}

a {  
  box-shadow: 
    0.3em 0.3em 0 0 #e2e2e2,
    inset 0.3em 0.3em 0 0 #e2e2e2;
  
  &:hover,
  &:focus {
    box-shadow: 
      0 0 0 0 $color,
      inset 6em 3.5em 0 0 $color;
  }
}